# Keil MDK build output
Output/
Listing/

# Compiled object / dependency / cross-reference
*.o
*.d
*.crf

# Build artifacts
*.axf
*.hex
*.htm
*.lnp
*.sct
*.dep
*.map
*.lst
*.build_log.htm
*.iex
*.log

# Debug configuration (generated)
*.dbgconf

# Backup files
*.bak

# Keil user-specific GUI settings
*.uvguix.*

# J-Link debug
JLinkLog.txt
JLinkSettings.ini
